/* code of body [START]  */
body{
    background: linear-gradient(to right , rgb(57, 82, 57) , rgb(29, 29, 28));
    background-size: 400% 400%;
    animation: changebackground 4s infinite;
}

@keyframes changebackground{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
/* code of body [END] */

/* code contenar [START] */
#contenar{
    width: 1500px;
    height: 800px;
    background-color: gray;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border-radius: 20px;
    background-image: url(images/میله\ هایه\ زندان.webp);
}
/* code contenar [END] */

/* code of zmin [START] */
#zmin{
    height: 10px;
    width: 130px;
    background-color: black;
}
/* code of zmin [END] */

/* code ball [START] */
#ball{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius:50%;
}
/* code ball [END] */ 

/* code of keyframes ball [START]  */
@keyframes ball-move {
    10%{
        background-color: red;
        transform: translate(100px,10px) rotate(3600deg);
    }
    15%{
        background-color: green;
        transform: translate(230px , 720px) scaleX(0.5);
    }
    17.5%{
        background-color: green;
        transform: translate(230px , 710px) scaleY(0.1);
    }
    25%{
        background-color: yellow;
        transform: translate(300px, 60px) scaleX(0.5);
    }
    25.5%{
        background-color: yellow;
        transform: translate(300px , 60px) scale(1);
    }
    35%{
        background-color: blueviolet;
        transform: translate(420px , 720px) scaleX(0.5);
    }
    35.5%{
        background-color: blueviolet;
        transform: translate(420px , 720px) scaleY(0.4);
    }
    40%{
        background-color: blue;
        transform: translate(520px , 160px) scaleX(0.5);
    }
    40.5%{
        background-color: blue;
        transform: translate(520px , 160px) scale(1);
    }
    50%{
        background-color: rosybrown;
        transform: translate(620px , 720px) scaleX(0.5);
    }
    50.5%{
        background-color: rosybrown;
        transform: translate(620px , 720px) scaleY(0.5);
    }
    55%{
        background-color: fuchsia;
        transform: translate(720px , 280px) scaleX(0.5);
    }
    55.5%{
        background-color: fuchsia;
        transform: translate(720px , 280px) scale(1);
    }
    60%{
        background-color: greenyellow;
        transform: translate(820px , 720px) scaleX(0.5);
    }
    60.5%{
        background-color: greenyellow;
        transform: translate(820px , 720px) scaleY(0.6);
    }
    70%{
        background-color: gold;
        transform: translate(920px , 400px) scaleX(0.5) ;
    }
    70.5%{
        background-color: gold;
        transform: translate(920px , 400px) scale(1) ;
    }
    80%{
        background-color:maroon;
        transform: translate(1020px , 720px) scaleX(0.5) ;
    }
    80.5%{
        background-color:maroon;
        transform: translate(1020px , 720px) scaleY(0.6);
    }
    85%{
        background-color: darkolivegreen;
        transform: translate(1120px , 540px) scaleX(0.5);
    }
    85.5%{
        background-color: darkolivegreen;
        transform: translate(1120px , 540px) scale(1) ;
    }
    90%{
        background-color:darkslategray;
        transform: translate(1220px , 730px);
    }
    90.5%{
        background-color:darkslategray;
        transform: translate(1220px , 720px) ;
    }
    95%{
        background-color:chocolate;
        transform: translate(1320px , 720px);
    }
    95.5%{
        background-color:chocolate;
        transform: translate(1320px , 720px) scale(1) ;
    }
    100%{
        background-color:red;
        transform: translate(1420px , 720px) rotate(360deg);
    }
}
/* code of keyframes ball [END]  */

/* code containar of hover ball [START]  */
#contenar:hover #ball{
    animation-duration: 15s;
    animation-name: ball-move;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-delay: 1s;
}
/* code container of hover ball [END]  */